@font-face {
  font-family: "Light";
  src: url("../fonts/Halvar/HalvarMittel-Lt.woff");
}

@font-face {
  font-family: "Regular";
  src: url("../fonts/Halvar/HalvarMittel-Rg.woff");
}

@font-face {
  font-family: "Medium";
  src: url("../fonts/Halvar/HalvarMittel-Md.woff");
}

@font-face {
  font-family: "Bold";
  src: url("../fonts/Halvar/HalvarMittel-Bd.woff");
}
