.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  @extend %col;
  justify-content: center;
  align-items: center;
  & svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  // &__item {
  //     transition: $trans;
  // }
  & path,
  & circle {
    transition: $trans;
  }
}
