$widthContent: 1522px;
$widthContentMedium: 1020px;
$paddingContent: 20px;
$paddingMediumContent: 128px;
$paddingMediumContent2: 88px;
$colorDark: #151516;
$colorMain: #4061f8;
$colorMainActive: #3252e0;
$colorMainLight: #e6f7fe;
$colorGrey: #bdbfc8;
$colorError: #e86060;
$trans: 0.3s ease-in-out;
$transLong: 0.5s ease-in-out;
$mediaDesktop: $widthContent + $paddingContent * 2;
$mediaMobile: 760px;
$mediaMobileEnd: 761px;
$mediaTabletEnd: 1212px;
$mediaTablet: 1211px;
$paddingHead: 272px;
$paddingHeadMedium: 222px;
